*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

.row{
    display: block;
    content: '';
    clear: both;
}

.layout{
    float: left;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.m-auto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.m-auto-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.m-auto-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.m-auto-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    color: black;
}
.m-auto-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: black;
}

.header{
    height: 50px;
    background-color: black;
}
.menu{
    height: 50px;
    background-color: red;
}

.hero{
    height: 400px;
    background-color: #007ACC;
}

.main{
    background-color: #24344B;
    height: 300px;
}
.image{
    background-color: #C1E4E6;
    height: 150px;
}

.extra{
    background-color: #4EBA96;
    height: 150px;
}

.footer{
    background-color: #FED269;
    height: 100px;
}

@media screen and (max-width:992px){
    /* For desktop: */
.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.33%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}

.rel{
    position: relative;
}
.menu{
    height: 550px;
    padding-top: 265px;
    position: absolute;
    top: 450px;
    float: left;
    clear: both;
}
.main{
    /* margin-left: 16.67%; */
    float: right;
}
.footer{
    float: right;
}
.blank{
    display: none;
}
.two{
    position: absolute;
    top: 850px;
    right: 0;
    float: right !important;
}
.image{
    position: absolute;
    right: 0;
}
}

@media screen and (max-width:768px){
    /* For desktop: */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

.menu{
    position: unset;
    height: 50px;
    padding: unset
}
.main{
    float: left;
}
.footer{
    height: 150px;
}
.two{
    top: 950px;
    display: flex;
    flex-direction: column;
}
.image{
    top: 150px;
}
}